.App {
  height: 100%;
  width: 100%;
  position: absolute;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #222;
  height: 60px;
  padding: 1px;
  color: white;
  text-align: center;
  font-weight: bold;
  position: relative;
  border-style: solid;
  border-color: #bbd;
  border-width: 0px;
  border-bottom-width: 3px;
}

.header-title {
  margin-top: 10px;
  display: inline-block;
}

.show-all-dilemmas {
  float: left;
  margin-left: 20px;
  margin-top: 25px;
  background-color: rgb(217, 235, 251);
  color: black;
  width: 150px;
}

.dilemma {
  cursor: pointer;
  list-style-type: none;
  border-top: black solid 1px;
  margin-top: 10px;
}

.dilemma-feed-element {
  margin: auto;
  display: table;
  width: 400px;
}

.App-footer {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wrapper {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  background-color:Gray;
  position: absolute;
}

.wrapper div {
  text-align: left;
  position: relative;
}

.column-1 {
  background-color:white;
  overflow:hidden; 
  width: 50%;
  min-width: 50%;
}

.column-2 {
  width: 5px;
}

.column-3 {
  background-color:white;
  overflow:hidden; 
  width: 50%;
}

.show-slider-button {
  position: absolute;
  height: 100%;
  padding: 0px;
  background-color: rgb(217, 235, 251);
  width: 20px;
}

.list-item {
  width: 70%;
}

.padded-content {
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.search-control {
  margin-bottom: 10px;
}

.accordion-item-title {
  border: black 2px solid;
  padding: 5px;
}

.remove-button {
  float: right;
  cursor: pointer;
}

.utility-function {
  width: 100%;
  height: 100px;
}

.utility-function-readonly {
  background-color: rgb(217, 235, 251);
}

.edit-function {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(217, 235, 251);
  padding: 5px;
  margin-bottom: 5px;
  width: 40px;
}

.list-group-item {
  background-color: rgb(215,235,250);  
}

.example-util-funcs {
  padding: 10px;
}

.searchbar {
  margin-top: 10px;
}

.clear-sentiments {
  cursor: pointer;
}

.my-value-item {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-color: #CCCCCC;
  overflow: hidden;
  background-color: rgb(217, 235, 251);
  padding-left: 10px;
  padding-right: 10px;
}

.values-buttons {
  height: 100%;
  float: right;
  transform: translate(0, 75%);
}

.value-name {
  float: left;
} 

.next-dilemma {
  float: right;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
}

.dilemma-title {
  display: inline-block;
  margin-top: 10px;
}

.dilemma-nav {
  display: flex;
  justify-content: space-between;
}

.previousDilemma {
  display: inline-block;
  cursor: pointer;
  margin-top: 15px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(217, 235, 251);
  padding: 5px;
  height: 30px;
}

.left-arrow {
  margin-right: 5px;
}


.right-arrow {
  margin-left: 5px;
}

.list-inline {
  font-size: 10px;
  padding: 2px;
  padding-bottom: 2px;
}

.related {
  display: inline-block;
  margin-right: 10px;
}

.related-text {
  font-weight: bold;
}

.related-element {
  display: inline-block;
  background-color: rgb(217, 235, 251);
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-radius: 3px;
  margin-right: 2px;
  padding: 5px;
  cursor: pointer;
}

.tags {
  display: flex;
  justify-content: center;
}

.derived-value {
  margin-left: 30px;
}

.inactive-sentiments {
  opacity: 0.3;
}

.pick-interests {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(217, 235, 251);
  padding: 5px;
  margin-bottom: 5px;
  width: 80px;
  font-size: 12px;
}

.my-interests-title {
  margin-right: 5px;
}

.calculate-func {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(217, 235, 251);
  padding: 5px;
  margin-bottom: 5px;
  width: 180px;
}

.add-dilemma {
  cursor: pointer;
}

.accordion-title {
  outline: none;
  border-top: 1px black solid;
  margin-top: 10px;
}

.my-profile {
  width: 300px;
  display: block;
  margin: auto;
}

#slider {
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    height: 100%;
    width: 100%;
    display: flex;
    top: 0px;
    overflow: auto;
}

.slider-content {
  display: block;
  width: 100%;
}

.right-list {
  position: relative;
}

.list-item-clickable {
  cursor: pointer;
}

.slide-in {
    animation: slide-in 0.2s forwards;
}

.slide-out {
    animation: slide-out 0.2s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.slide-down {
    animation: slide-down 0.5s forwards;
}

.slide-up {
    animation: slide-up 0.5s forwards;
}
    
@keyframes slide-down {
    100% { transform: translateY(0%); }
}
    
@keyframes slide-up {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
