
.option {
  width: 80%;
  padding: 10px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  margin-bottom: 20px;
	background-color: rgb(230, 200, 200);
	cursor: pointer;
}

.has-max-util {
	background-color: rgb(200, 230, 200);
}

.all-util-same {
	background-color: rgb(217, 235, 251);
}

.choose-modal {
	width: 200px;
	height: 300px;
	background-color: white;
	position: relative;
}

.sentiment {
	cursor: pointer;
}

.clear-sentiments {
	font-size: 12px;
}

.shown {
	visibility: visible;
}

.hidden {
	visibility: hidden;;
}

.toggle-calc {
	font-style: italic;
}

.show-function {
	float: right;
	font-style: italic;
}

.inactive-sentiment {
  opacity: 0.3;
}

.effect {
  padding-left: 10px;
}

.add-effect {
  padding-left: 10px;
	width: 60px;
}