
.option {
  width: 80%;
  padding: 10px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  margin-bottom: 20px;
	background-color: rgb(230, 200, 200);
}

.has-max-util {
	background-color: rgb(200, 230, 200);
}

.all-util-same {
	background-color: rgb(217, 235, 251);
}

.choose-modal {
	width: 200px;
	height: 300px;
	background-color: white;
	position: relative;
}

.clear-sentiments {
	font-size: 12px;
}

.shown {
	visibility: visible;
}

.hidden {
	visibility: hidden;;
}

.toggle-calc {
	font-style: italic;
}

.show-function {
	float: right;
	font-style: italic;
}

.inactive-sentiment {
  opacity: 0.3;
}

.effect {
  padding-left: 10px;
}

.add-effect {
  padding-left: 10px;
	width: 60px;
}

.prefer {
	float: right;
  cursor: pointer;
  margin-top: 15px;
  border: 1px grey solid;
  border-radius: 3px;
  background-color: rgb(230, 200, 240);
  padding: 5px;
  height: 30px;
}

.sentiment {
  background-color: rgb(217, 235, 251);
  border: 1px grey solid;
  border-radius: 3px;
  margin-right: 2px;
  padding: 5px;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 5px;
}

.sentiment-modal-separator {
	background-color: #aaa;
	height: 2px;
}