
.option {
  width: 80%;
  padding: 10px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  margin-bottom: 20px;
	background-color: var(--not-preferred-option);
}

.has-max-util {
	background-color: var(--preferred-option);
}

.all-util-same {
	background-color: var(--neutral-option);
}

.choose-modal {
	width: 200px;
	height: 300px;
	background-color: white;
	position: relative;
}

.clear-sentiments {
	font-size: 12px;
}

.shown {
	visibility: visible;
}

.hidden {
	visibility: hidden;;
}


.show-function {
	float: right;
	font-style: italic;
}

.inactive-sentiment {
  opacity: 0.3;
}

.effect {
  padding-left: 10px;
}

.add-effect {
  padding-left: 10px;
	width: 60px;
}

.prefer {
	float: right;
  padding: 5px;
  width: 300px;
  height: 100%;
  cursor: pointer;
}

.sentiment {
  background-color: rgb(217, 235, 251);
  border: 1px grey solid;
  border-radius: 3px;
  margin-right: 2px;
  padding: 5px;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 5px;
}

.sentiment-modal-separator {
	background-color: var(--button-color);
	height: 2px;
}

.neutral-choice {
	background-color: #ddd;
}

.show-calc-button {
	font-style: italic;
	cursor: pointer;
}

.option-title {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 20px;
}

.modify-function-help {
	width: 600px;

}

.modify-function-help-header {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.sentiment-function-helper {
  list-style-type: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  width: 75%;
  padding: 10px;
}

.sentiment-function-helper:first-child {
  border-top: 1px solid black;
}

.sentiment-function-helper-func {
	margin-left: 10px;
}